@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700&family=Lexend:wght@300;400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 15px;
}

:root {
  --pure-white: #fff;
  --dark-blue: #090b1a;
  --light-blue: #1b1938;
  --purple: #aa5cdb;
  --purple-70: #891ecc90;
  --white-75: hsla(0, 0%, 100%, 0.75);
  --white-60: hsla(0, 0%, 100%, 0.6);
  --font-inter: 'Inter', sans-serif;
  --font-lexend: 'Lexend', sans-serif;
}

.container {
  background: var(--dark-blue);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
    height: 100vh;
  color: var(--pure-white);
  font-family: var(--font-inter);
}

.card-template {
  background: var(--light-blue);
  min-height: 446px;
  border-radius: 10px;
  display: flex;
  flex-direction: row-reverse;
  overflow: hidden;
}

.card-image {
  background-image: url("../images/image-header-desktop.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: var(--purple);
  background-blend-mode: multiply;
  width: 100%;
  transition: all 0.5s ease-in;
}

.card-image:hover{
  background-color:var(--purple-70);
}

.card-text {
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.text-title {
  font-size: 2.5rem;
}

.text-title span{
  font-size: 2.5rem;
  color: var(--purple);
}

.text-default {
  font-family: var(--font-lexend);
  margin: 2.5rem 0;
  line-height: 1.5rem;
  color: var(--white-60)
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.footer .text-cards p{
  font-weight: 700;
  font-size: 1.3rem;
}

.footer .text-cards span{
  color: var(--white-75);
  font-weight: 300;
  font-size: 1rem;
}

.attribution {
  margin-top: 10px;
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: var(--purple);
  text-decoration: none;
  transition: all 0.3s ease-out;
}

.attribution a:hover{
  text-decoration: underline;
}
